.warning, .error {
  color: red;
}

.success {
  color: green;
}

.loading {
  color: yellow;
}

label,
p {
  font-size: 11px;
}

.error-input {
  border: 2px solid red;
}

.single-claim {
  border: 1px solid white;
  padding: 15px;
}