.App {
  display: flex;
  background-color: #282c34;
}



.App-container {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.form-container {
  width: 300px;
}

form {
  width: 100%;
  text-align: left;
  input.error {
    border: 2px solid red;
  }

  .errormessage {
    color: red;
    font-size: 13px;
    margin: 0px;
  }

  label {
    font-size: 13px;
  }
}

ul {
  text-align: left;
  font-size: 13px;
  margin: 0px;
  padding-left: 10px;
}

.existing-claims-container {
  text-align: left;
}